/Java/Clock/nbproject/private/
/Java/Clock/build/
/Java/HashMap/nbproject/private/
/Java/HashMap/build/
/Java/Linked List/nbproject/private/
/Java/Linked List/build/
/Java/Simple LinkedList/nbproject/private/
/Java/UTS_Alstrudat_1920/build/
/Java/UTS_Alstrudat_1920/dist/
/Java/UTS_Alstrudat_1920/nbproject/private/
/Java/Simple LinkedList/build/
/Java/Simple LinkedList/dist/