<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/"><img src="/images/logo.jpg" alt="Sazi Logo" width="60px" height="40px"></a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/shop">Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/shop/produk">Produk</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="login.html">Login</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/shop/register">Register</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="keranjang.html">Keranjang</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="logout.html">Log out</a>
        </li>
    </ul>
</nav>