<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/"><img src="/images/logo.jpg" alt="Sazi Logo" width="60px" height="40px"></a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="product.php">Produk</a>
        </li>
        {% if not login %}
            <li class="nav-item active">
                <a class="nav-link" href="login.php">Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="registrasi.php">Register</a>
            </li>
        {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="keranjang.php">Keranjang</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="logout.php">Log out({{user}})</a>
            </li>
        {% endif %}
    </ul>
</nav>